# 한줄 주석

# 파일명 제외 -> 해당 파일명을 적으면 해당 파일명을 제외해라
.classpath
.project

# 루트 폴더에서 폴더 제외
# .gitignore가 있는 위치로부터 내려가서 .settings를 제외해라
# /a/b/ -> a 폴더 아래에 있는 b 폴더를 제외해라
/.settings/
#a/ -> 상위에 어떤 폴더가 있는지 상관없이 a라는 이름을 가진 폴더를 제외해라
build/

#* -> 아무거나 상관없는
#** -> 아무거나 상관없는 폴더
/**/META-INF/

# 이름은 상관없이 확장자가 xml이라면 제외해라
config/*.xml이라면

#? 토큰 -> 아무거나 상관없이 1글자
#? .txt -> 한글자 이름을 가진 텍스트 문자
#[abcde] -> 여러 글자중 한개
#[abcde]g -> ag, bg, cg
#[0-9] -> 범위 지정